<section id="intro">
  <h1>Simple GitHub Story</h1>

  <p>
    Accessibility is important when writing code and providing pull requests. Therefore this
    application exists to implement a ticket in 2 different stories:
  </p>

  <ol>
    <li>I have no clue what accessibility is when using git.</li>
    <li>I do have a clue what accessibility is when using git.</li>
  </ol>

  <p>
    This is the use case that will be handled to showcase it. It's obviously held generically and
    small scoped to easily understand it. What's out of scope?
    
    What's out of scope? I will elaborate on git topics only. Coding itself and what is considered good code it not part of this presentation.
  </p>
</section>

<section id="ticket-description">
  <h2>Ticket description</h2>
  <p>As a user I want click a button to load the data from the backend.</p>
  <p>Accentance criteria:</p>
  <ul>
    <li>Add a button with label "Load data"</li>
    <li>Load data from the backend</li>
    <li>Show data as a list on the page underneath this description</li>
  </ul>
</section>

<section id="implementation">
  <button (click)="loadItems()">Load data</button>
  @if (loading$ | async) {
  <p>Loading...</p>
  }
  <ul>
    @for (item of listItems; track $index) {
    <li>{{ item.id }}: {{ item.name }}</li>
    }
  </ul>
</section>
